
@import url('https://fonts.googleapis.com/css?family=Lato');



.countdown-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // font-weight: 400;
    gap: 10rem;
    /* width: 100%; */
    position: absolute;
    left:0;
    top: 18.2rem;

    @media screen and (max-width: 800px) {
        gap: 2.4rem;
    }

}

.countdown-item {
    font-family: "kanit";
    font-weight: 200;
    color: #d1d1d1;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 2;
    @media screen and (max-width: 800px) {
        font-size: 4.5rem;
    }
}



.countdown-item span {
    color: #dbd9d9;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -45px;
}

.countdown-svg {
    position: absolute;
    top: 10;
    left: 0;
    width: 100px;
    height: 100px;
}


